body {
    background-image: url(movlyak.png);
}
img{
    border-radius: 20px;
    width: 400px;
}
p{
    background-color: black;
    color: azure;
    width: 300px;
    border-radius: 10px;
}
ol{
    background-color: black;
    color: azure;
    width: 300px;
    border-radius: 20px;
}
h2 {
    background-color: black;
    color: azure;
    width: 300px;
    border-radius: 20px;
}
footer{
    background-color: black;
    color: azure;
    width: 300px;
    border-radius: 20px;
}